@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: 'Be Vietnam', sans-serif;
    font-size: 16px;
}

a{
    text-decoration: none;
    font-weight: 500;
    color: #242E52;
}

button.GS{
    display: flex;
    padding: 12px 30px;
    color: white;
    border: none;
    background: #F3603B;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 50px;    
    width: 134px;
    height: 44px;
}

header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 65px 165px;
}

header h1{
    height: 24px;
    display: flex;
}

header nav ul{
display: flex;
list-style-type: none;
}

header nav ul li{
    margin-left: 28px;
}


main section.home{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 65px 165px;
}

main section.home article{
    width: 40%;
}

main section.home article:nth-child(1){
    width: 50%;
}

main section.home article h2{
    color: #232C50;
    font-weight: bold;
    font-size: 58px;
    line-height: 66px;
}

main section.home article p{
    text-align: left;
    width: 350px;
    padding: 28px 0;
}

main section.sobre_nosotros{
    padding: 100px 163px;
    display: flex;
}

main section.sobre_nosotros article h3{
    color: #232851;
    font-weight: bold;
    font-size: 36px;
    line-height: 114.6%;
}

main section.sobre_nosotros article ol li{
    list-style-type: none;
    counter-reset: list-item;
}

main section.sobre_nosotros article ol li span{
    counter-increment: list-item;
    margin: 23px;
    color: #323851;
    font-weight: bold;
    line-height: 23px;
    display: block;
}

main section.sobre_nosotros article ol li span::before{
    background: #F3613C;
    color: white;
    width: 70px;
    height: 43px;
    display: block;
    content: "0" counter(list-item);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 34px;
    margin-right: 23px;
    order: -1;
}


main section.sobre_nosotros article ol li p{
    color: #B3B2B7;
    line-height: 26px;
    padding-left: 93px;
    width: 458px;
}

main section.testimonios{
    display:flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 71px;
    text-align: center;
}

main section.testimonios h3{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

main section.testimonios div{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 109px;
}



main section.testimonios div article{
    background: #FAFAFA;
    text-align: center;
    width: 30%;
}

main section.testimonios div article img{
    width: 70px;
    position: relative;
    bottom: 35px;
}

main section.testimonios div article span{
    display: block;
    font-weight: bold;
    color: #3F4868;
    
}

main section.testimonios div article p{
    color: #B9B9C1;
    padding: 21px;
    width: 100%;
    text-align: center;
}

main section:nth-child(4){
    background: #F3613C;
    padding-top: 64px;
    padding-bottom: 64px;
    width: 100%;
    padding: 64px 165px;
    color: white;
    align-items: center;
    display: inline-flex;
}

main section:nth-child(4) h2{
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    width: 450px;
}

main section:nth-child(4) button{
    color: #F3613C;
    background: white;
    margin-left: 30%;
}

footer{
    background: #1E1E26;
    display: flex;
    flex-direction: row;
    color: white;
    padding: 52px 165px;
    justify-content: space-evenly;
}

footer div img{
    height: 26px;
    margin-bottom: 67px;
}

footer div ul.redes{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    padding: 0px;
    width: 150px;
}

footer div ul.redes li a i{
    color: white;
    font-size: 20px;
}

footer div ul.redes li:nth-child(2) a img{
    height: 20px;
    margin:  0px;
}

footer div.indice{
    display: flex;
}

footer div.indice ul{
    list-style-type: none;
    padding: 0 135px ;
}

footer div.indice ul li{
    margin-bottom: 10px;
}

footer div form input{
    border: none;
    width: 201px;
    height: 44px;
    border-radius: 50px;
    padding: 12px 0 12px 10px;
}

footer div form button{
    border: none;
    color: white;
    background: #F3603B;
    width: 63px;
    height: 42px;
    border-radius: 50px;
    margin-left: 9px;

}

footer div span{
    display: block;
    color: #8C8C94;
    font-size: 12.5px;
    margin-top: 73px;
}
